.chat-wrapper-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.chat-wrapper{
    position: relative;
}
.chat-wrapper-content{
    padding: 30px;
    min-height: 70vh;
}

.chat-contact{
    background-color: #fff;
    border-radius: 8px;
}

.chat-self{
    background-color: #d9fdd3;
    border-radius: 8px;
}
.send-form-holder{
    background-color: #f0f2f5;
    padding: 20px 30px;
}
.message-direction-alert{
    padding-left: 8px;
    position: relative;
    font-size: 14px;

}
.message-direction-alert:before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 0;
}
.message-direction-alert.inbound{
    color: #1aa179;
}
.message-direction-alert.inbound:before{
    background-color: #1aa179;
}

.message-direction-alert.outbound{
    color: #cc9a06;
}
.message-direction-alert.outbound:before{
    background-color: #cc9a06;
}